.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://t4.ftcdn.net/jpg/04/08/35/37/360_F_408353734_0JX5eErBWm2CypRBYAx7kEt8J7WG7Zdy.jpg);
  background-size: cover;
  background-position: center;
}

.auth-form-container {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.login-form label,
.login-form input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.link-btn {
  margin-top: 20px;
}
