body {
  font-size: 18px; /* Adjust as needed */
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  flex: 1;
  border: 1px solid #000;
  padding: 20px;
  margin: 10px;
  text-align: center;
  transition: all 0.3s ease;
  background-color: white;
  color: black;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.correct {
  border-color: #98FB98;
}

.game-container h2 {
  color: white;
}

.score-container {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size:1.5rem;
}
